[project]
	description = SaberMod GCC
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/noname55804 (noname55804)
[access "refs/for/refs/*"]
	read = group user/noname55804 (noname55804)
	push = group user/noname55804 (noname55804)
	label-Code-Review = -2..+2 group user/noname55804 (noname55804)
	label-Verified = -1..+1 group user/noname55804 (noname55804)
	rebase = group user/noname55804 (noname55804)
	removeReviewer = group user/noname55804 (noname55804)
	submit = group user/noname55804 (noname55804)
[access "refs/heads/*"]
	read = group user/noname55804 (noname55804)
	create = group user/noname55804 (noname55804)
	push = +force group user/noname55804 (noname55804)
	pushMerge = group user/noname55804 (noname55804)
[access "refs/tags/*"]
	push = +force group user/noname55804 (noname55804)
	pushTag = group user/noname55804 (noname55804)
	pushSignedTag = group user/noname55804 (noname55804)
